<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
<ul class="message warning">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

    <% if (account) { %>
        <!-- Greeting -->
        <h2>Welcome <%= account.account_firstname %></h2>
        <h3>Account Type: <%= accountData.account_type  %></h3>

        <p>You're logged in.</p>
        <!-- Update Account Info (visible for all) -->
        <p><a href="/account/update/<%= account.account_id %>">Update Account Info</a></p>

        <!-- Inventory Management (only for Employee/Admin) -->
        <% if (account.account_type != 'Client') { %>
            <h3>Inventory Management</h3>
            <p><a href="/inv/">Manage Inventory</a></p> 
<% } %>